<h3 class="padding">Doctor List</h3>


<div class="row paddingDiv">
            <div class="col s12 m6"   ng-repeat = "(key1,each1) in doctorList" id = "{{key1}}">

              <div class="card  blue darken-2 text">
                <div class="card-content">
                <span class="card-title">{{each1.Title}} {{each1.first_name}} {{each1.last_name}}</span>
                <span ng-repeat="(key, each) in each1.Speciality">
                <p>{{each.name}}</p>
                </span>
                <div ng-repeat = "(key,each) in each1.office_address">  <h6>City: {{each.visit_address.city}}</h6>
                                                                      Address: <div>{{each.visit_address.street}}
                                                                      {{each.visit_address.street2}}</div>
                                                                      <p>zip: {{each.visit_address.zip}}</p></div>
                </div>
                <button class="blue darken-4 right" ng-click = "delete(key1)">Remove from List</button>
                </div>

              </div>
      </div>
<div class="footer blue darken-4">
      Powered by <a class="brown-text text-lighten-1" target="_blank" href="https://developer.betterdoctor.com">Better Doctor</a>
      <!-- </div> -->
    </div>
