<h1 class="padding">Registration Page</h1>
<p class="padding">Please enter your information in the fields to get access to additional features such as Health plans accepted by the doctors, contact information.</p>

<div class="row" id="center">
  <form class="col s6" ng-submit = "register()" name="form">
        <div class="row">
          <div class="input-field col s6">

            <input  id="first_name" type="text" class="validate" ng_model = "firstName"  required>
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" ng_model = "lastName"  required>
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input  type="email" ng_model = "user_email" required>
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" ng-model = "user_confirmEmail" ng-match="user_email" required  name="myConfirmField">
            <label for="email" data-error="wrong">Confirm Email</label>
            <span ng-show="user_email !== user_confirmEmail">Emails have to match!</span>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6" >
            <input id="password" type="password" class="validate" ng_model = "user_password" required>
            <label for="password">Password</label>
          </div>

          <div class="input-field col s6">
            <input  type="date" class="datepicker text1" ng-model="user_dob" required min="1940-01-01" max="{{date | date:'yyyy-MM-dd'}}">

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" ng-model = "user_addressLine1" required>
            <label for="addressLine1">Address Line-1</label>
          </div>
          <div class="input-field col s6">
            <input type="text" ng-model = "user_addressLine2"  optional>
            <label for="addressLine2">Address Line-2</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" ng-model = "user_city">
            <label for="city">City(optional)</label>
          </div>
          <div class="input-field col s3">
            <input type="text" id="autocomplete-input" class="autocomplete" ng_model = "user_state">
            <label for="autocomplete-input">State(optional)</label>
          </div>
          <div class="input-field col s3">
            <input type="text" ng-model = "user_zipcode" required>
            <label for="zipcode">Zipcode</label>
          </div>
        </div>
        <div class="picture">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSbuNesTVALkVJwmDPaSJUEgV45w5Cr6yraSIvedhvmQP5elWRfgw" id="myImg">
          <input type="file" placeholder="Upload your profile pic" id="fileInput">
        </div>
      <button type = "submit" class="waves-effect waves-light blue darken-4 text">Register</button>

  </form>
</div>
 <div class="footer blue darken-4">
      Powered by <a class="brown-text text-lighten-1" target="_blank" href="https://developer.betterdoctor.com">Better Doctor</a>
      <!-- </div> -->
    </div>
