body {
  background-color: #efefef;
}
.padding {
  margin-left: 100px;
  margin-top: 2rem;
  font-weight: bold;
}
.paddingDiv{
  margin-left: 100px;
}
.modal {
  border: 2px solid grey;
}
#dropdown1 {
  min-width: 200px;
}
.nav {
  background-color: #0d47a1;
}
nav {
  padding-left: 4em;
  padding-right: 4em
}

#center {
  margin-left: 100px;
}
.margin{
  margin-top: 100px;
  margin-left: 100px;
}
input:required:focus {
  border: 1px solid black;
  background-color: white;
  outline: none;
}
/*.borderBlock {
  border: 1px solid lightblue;

}*/
.upperCase {
  text-transform: uppercase;
}

.ownInfo {
    margin-left: 50px;
    padding-left:  50px;
    margin-bottom: 10px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.heading {
  font-weight: bold
}
.right {
  float: right;
 }
 .paddingDiv1 {
  padding-top: 1em;
  padding-bottom: 1.5em;
 }
.left {
  float: left;
  color: white;
}

.upperCase {
  text-transform: uppercase;
 /* color: white;*/
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.parallax-container {
      height: 700px;
    }
.footer1 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.alert {
  padding-top: 10px;
  margin-top: 10px;
  font-size: 20px;
  /*text-shadow: 0 0 3px #FF0000;*/
}

.person {
  padding-top: .5em;
  width:40px;
  height:40px;
}
#map {
        width: 50%;
        height: 300px;
        background-color: grey;
      }
.text {
  color: white;
}
.border {
  border: 2px solid grey;
}
.text1 {
  color: grey;
}
